In [1]:
# importing necessary libraries
import pandas as pd
import glob
import numpy as np
import warnings
import os

In [2]:
warnings.filterwarnings("ignore")

### Tree General Event Data

In [3]:
# Event data from tree general
path_tree_general = os.getcwd() + "/data" + "/Tree General"
filenames_tree_general = glob.glob(path_tree_general + "/*EVD.*")

dfs_tree_general = []
for filename in filenames_tree_general:
    dfs_tree_general.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [4]:
tree_general_evd_df = pd.concat(dfs_tree_general, ignore_index=True)

In [5]:
tree_general_evd_df.shape

(7055, 6)

In [6]:
tree_general_evd_df.rename(columns = {0:'time', 
                     1: 'event', 
                     2: 'event_key', 
                     3: 'data1', 
                     4: 'data2',
                     5:'description'}, inplace = True)

In [7]:
tree_general_evd_df.head(10)

    time         event  event_key  data1  data2 description
0   1887  LMouseButton          1   1025     16         NaN
1  10299  LMouseButton          1    857   1007         NaN
2  12252  LMouseButton          1   1049   1011         NaN
3  38096  LMouseButton          1     45    549         NaN
4  41116  LMouseButton          1    685    527         NaN
5  58848  LMouseButton          1    699    550         NaN
6  59476  LMouseButton          1    699    550         NaN
7  60024  LMouseButton          1    695    569         NaN
8  60552  LMouseButton          1    695    586         NaN
9  60991  LMouseButton          1    696    583         NaN

### Tree Expert Event Data

In [8]:
path_tree_expert = os.getcwd() + "/data" + "/Tree Expert"
filenames_tree_expert = glob.glob(path_tree_expert + "/*EVD.*")

dfs_tree_expert = []
for filename in filenames_tree_expert:
    dfs_tree_expert.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [9]:
tree_expert_evd_df = pd.concat(dfs_tree_expert, ignore_index=True)

In [10]:
tree_expert_evd_df.rename(columns = {0:'time', 
                     1: 'event', 
                     2: 'event_key', 
                     3: 'data1', 
                     4: 'data2',
                     5:'description'}, inplace = True)

In [11]:
tree_expert_evd_df.shape

(11217, 6)

In [12]:
tree_expert_evd_df.head(10)

    time         event  event_key  data1  data2 description
0   5071  LMouseButton          1     41    533         NaN
1   7075  LMouseButton          1    676    534         NaN
2  11990  LMouseButton          1    700    549         NaN
3  13704  LMouseButton          1     61    552         NaN
4  19985  LMouseButton          1    779    597         NaN
5  27949  LMouseButton          1    661    217         NaN
6  28966  LMouseButton          1    608    267         NaN
7  31129  LMouseButton          1     81    583         NaN
8  32375  LMouseButton          1    100    594         NaN
9  35047  LMouseButton          1     78    643         NaN

### Graph General Event Data

In [13]:
path_graph_general = os.getcwd() + "/data" + "/Graph General"
filenames_graph_general = glob.glob(path_graph_general + "/*EVD.*")

dfs_graph_general = []
for filename in filenames_graph_general:
    dfs_graph_general.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [14]:
graph_general_evd_df = pd.concat(dfs_graph_general, ignore_index=True)

In [15]:
graph_general_evd_df.rename(columns = {0:'time', 
                     1: 'event', 
                     2: 'event_key', 
                     3: 'data1', 
                     4: 'data2',
                     5:'description'}, inplace = True)

In [16]:
graph_general_evd_df.shape

(9058, 6)

In [17]:
graph_general_evd_df.head(10)

    time         event  event_key  data1  data2 description
0   7762  LMouseButton          1    313    648         NaN
1   8480  LMouseButton          1    314    644         NaN
2   8619  LMouseButton          1    314    644         NaN
3   9366  LMouseButton          1    316    642         NaN
4  10463  LMouseButton          1    316    642         NaN
5  15536  LMouseButton          1    981    675         NaN
6  16792  LMouseButton          1    896    981         NaN
7  21058  LMouseButton          1    377    535         NaN
8  21198  LMouseButton          1    377    535         NaN
9  21965  LMouseButton          1    377    535         NaN

### Graph Expert Event Data

In [18]:
path_graph_expert = os.getcwd() + "/data" + "/Graph Expert"
filenames_graph_expert = glob.glob(path_graph_expert + "/*EVD.*")

dfs_graph_expert = []
for filename in filenames_graph_expert:
    dfs_graph_expert.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [19]:
graph_expert_evd_df = pd.concat(dfs_graph_general, ignore_index=True)

In [20]:
graph_expert_evd_df.rename(columns = {0:'time', 
                     1: 'event', 
                     2: 'event_key', 
                     3: 'data1', 
                     4: 'data2',
                     5:'description'}, inplace = True)

In [21]:
graph_expert_evd_df.shape

(9058, 6)

In [22]:
graph_expert_evd_df.head(10)

    time         event  event_key  data1  data2 description
0   7762  LMouseButton          1    313    648         NaN
1   8480  LMouseButton          1    314    644         NaN
2   8619  LMouseButton          1    314    644         NaN
3   9366  LMouseButton          1    316    642         NaN
4  10463  LMouseButton          1    316    642         NaN
5  15536  LMouseButton          1    981    675         NaN
6  16792  LMouseButton          1    896    981         NaN
7  21058  LMouseButton          1    377    535         NaN
8  21198  LMouseButton          1    377    535         NaN
9  21965  LMouseButton          1    377    535         NaN

### Tree General Fixation Data

In [23]:
path_tree_general_fix = os.getcwd() + "/data" + "/Tree General"
filenames_tree_general_fix = glob.glob(path_tree_general_fix + "/*FXD.*")

dfs_tree_general_fix = []
for filename in filenames_tree_general_fix:
    dfs_tree_general_fix.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [24]:
tree_general_fxd_df = pd.concat(dfs_tree_general_fix, ignore_index=True)

In [25]:
tree_general_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)

In [26]:
tree_general_fxd_df.shape

(36376, 5)

In [27]:
tree_general_fxd_df.head(10)

   number   time  duration  screen_x  screen_y
0       1   2027       100      1005        60
1       2   7968       319        78       237
2       3   8526       100       246       207
3       4   9105       140       298       198
4       5   9962       140       909      1002
5       6  10480       159       507       559
6       7  11617       140      1012       986
7       8  12274       100      1046       997
8       9  13052       180       739       584
9      10  13650       120        90       592

### Tree Expert Fixation Data

In [28]:
path_tree_expert_fix = os.getcwd() + "/data" + "/Tree Expert"
filenames_tree_expert_fix = glob.glob(path_tree_expert_fix + "/*FXD.*")

dfs_tree_expert_fix = []
for filename in filenames_tree_expert_fix:
    dfs_tree_expert_fix.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [29]:
tree_expert_fxd_df = pd.concat(dfs_tree_expert_fix, ignore_index=True)

In [30]:
tree_expert_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)

In [31]:
tree_expert_fxd_df.shape

(45609, 5)

In [32]:
tree_expert_fxd_df.head(10)

   number  time  duration  screen_x  screen_y
0       1   835       259       711       530
1       2  1593       100       545       178
2       3  1752       199       299       209
3       4  1971       140       277       214
4       5  2171       319        66       219
5       6  2570       179       305       225
6       7  3108       140       276       217
7       8  3267       199       316       218
8       9  3527       120       314       225
9      10  3666       219       107       203

### Graph General Fixation Data

In [33]:
path_graph_general_fix = os.getcwd() + "/data" + "/Graph General"
filenames_graph_general_fix = glob.glob(path_graph_general_fix + "/*FXD.*")

dfs_graph_general_fix = []
for filename in filenames_graph_general_fix:
    dfs_graph_general_fix.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [34]:
graph_general_fxd_df = pd.concat(dfs_graph_general_fix, ignore_index=True)

In [35]:
graph_general_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)

In [36]:
graph_general_fxd_df.shape

(45824, 5)

In [37]:
graph_general_fxd_df.head(10)

   number  time  duration  screen_x  screen_y
0       1  1456       160       272       254
1       2  1735       120       264       240
2       3  2732       199       663       205
3       4  3330       180       361       662
4       5  3529       120       364       657
5       6  4028       479       397       736
6       7  4765       459       294       648
7       8  5244       199       259       660
8       9  5623       100       325       667
9      10  6021       219       347       652

### Graph Expert Fixation Data

In [38]:
path_graph_expert_fix = os.getcwd() + "/data" + "/Graph Expert"
filenames_graph_expert_fix = glob.glob(path_graph_expert_fix + "/*FXD.*")

dfs_graph_expert_fix = []
for filename in filenames_graph_expert_fix:
    dfs_graph_expert_fix.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [39]:
graph_expert_fxd_df = pd.concat(dfs_graph_expert_fix, ignore_index=True)

In [40]:
graph_expert_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)

In [41]:
graph_expert_fxd_df.shape

(65678, 5)

In [42]:
graph_expert_fxd_df.head(10)

   number  time  duration  screen_x  screen_y
0       1  1104       100       728       396
1       2  2360       179       294       807
2       3  2858       279       281       777
3       4  3157       120       281       785
4       5  3297       319       275       792
5       6  3775       159       318       769
6       7  4772       140       323       214
7       8  5211       100        77       208
8       9  5450       120        87       213
9      10  5909       159       307       216

### Tree General Gaze Data

In [43]:
path_tree_general_gzd = os.getcwd() + "/data" + "/Tree General"
filenames_tree_general_gzd = glob.glob(path_tree_general_gzd + "/*GZD.*")

dfs_tree_general_gzd = []
for filename in filenames_tree_general_gzd:
    dfs_tree_general_gzd.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [44]:
tree_general_gzd_df = pd.concat(dfs_tree_general_gzd, ignore_index=True)

In [45]:
tree_general_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [46]:
tree_general_gzd_df.shape

(858107, 16)

In [47]:
tree_general_gzd_df.head(10)

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,13,1,-1280,-1024,0.677,0.556,-1.000,-1.000,4,-1280,-1024,0.444,0.561,-1.000,-1.000,4
1,33,2,-1280,-1024,0.675,0.555,-1.000,-1.000,4,-1280,-1024,0.442,0.561,-1.000,-1.000,4
2,53,3,-1280,-1024,0.675,0.555,-1.000,-1.000,4,-1280,-1024,0.442,0.561,-1.000,-1.000,4
3,73,4,-1280,-1024,0.676,0.555,-1.000,-1.000,4,-1280,-1024,0.443,0.561,-1.000,-1.000,4
4,93,5,-1280,-1024,0.675,0.556,-1.000,-1.000,4,-1280,-1024,0.442,0.561,-1.000,-1.000,4
5,113,6,-1280,-1024,0.675,0.556,-1.000,-1.000,4,-1280,-1024,0.442,0.561,-1.000,-1.000,4
6,133,7,-1280,-1024,0.673,0.556,-1.000,-1.000,4,-1280,-1024,0.440,0.561,-1.000,-1.000,4
7,153,8,677,298,0.672,0.556,928.123,3.921,0,668,262,0.439,0.561,918.886,3.681,0
8,172,9,637,253,0.673,0.556,928.470,3.898,0,671,260,0.440,0.561,918.802,3.784,0
9,192,10,654,209,0.671,0.556,928.751,3.811,0,690,252,0.437,0.562,918.734,3.688,0

### Tree Expert Gaze Data

In [48]:
path_tree_expert_gzd = os.getcwd() + "/data" + "/Tree Expert"
filenames_tree_expert_gzd = glob.glob(path_tree_expert_gzd + "/*GZD.*")

dfs_tree_expert_gzd = []
for filename in filenames_tree_expert_gzd:
    dfs_tree_expert_gzd.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [49]:
tree_expert_gzd_df = pd.concat(dfs_tree_expert_gzd, ignore_index=True)

In [50]:
tree_expert_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [51]:
tree_expert_gzd_df.shape

(1097337, 16)

In [52]:
tree_expert_gzd_df.head(10)

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,18,1,-1280,-1024,0.689,0.709,-1.000,-1.000,4,-1280,-1024,0.473,0.748,-1.000,-1.000,4
1,38,2,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
2,57,3,-1280,-1024,0.689,0.709,-1.000,-1.000,4,-1280,-1024,0.473,0.748,-1.000,-1.000,4
3,77,4,-1280,-1024,0.473,0.748,-1.000,-1.000,4,703,333,0.473,0.748,823.642,4.406,0
4,97,5,698,356,0.690,0.709,820.369,4.135,0,687,358,0.474,0.748,823.642,4.391,0
5,117,6,709,336,0.690,0.709,820.369,4.105,0,702,342,0.474,0.748,823.642,4.537,0
6,137,7,727,389,0.689,0.708,820.369,4.273,0,686,360,0.474,0.748,823.642,4.448,0
7,157,8,739,391,0.689,0.708,822.220,4.319,0,691,357,0.473,0.748,822.638,4.475,0
8,177,9,704,370,0.688,0.709,822.220,4.187,0,712,334,0.473,0.748,822.638,4.349,0
9,197,10,700,315,0.689,0.709,822.220,4.115,0,715,283,0.474,0.748,822.638,4.506,0

### Graph General Gaze Data

In [53]:
path_graph_general_gzd = os.getcwd() + "/data" + "/Graph General"
filenames_graph_general_gzd = glob.glob(path_graph_general_gzd + "/*GZD.*")

dfs_graph_general_gzd = []
for filename in filenames_graph_general_gzd:
    dfs_graph_general_gzd.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [54]:
graph_general_gzd_df = pd.concat(dfs_graph_general_gzd, ignore_index=True)

In [55]:
graph_general_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [56]:
graph_general_gzd_df.shape

(1158276, 16)

In [57]:
graph_general_gzd_df.head(10)

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,0,1,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
1,20,2,-1280,-1024,0.757,0.771,-1.000,-1.000,4,-1280,-1024,0.547,0.809,-1.000,-1.000,4
2,40,3,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
3,60,4,741,456,0.758,0.772,847.435,4.087,0,691,440,0.548,0.809,844.610,4.651,0
4,80,5,727,470,0.758,0.772,847.435,4.152,0,707,424,0.548,0.809,844.610,4.475,0
5,100,6,757,451,0.758,0.772,847.435,4.017,0,731,435,0.548,0.809,844.610,4.471,0
6,120,7,759,457,0.757,0.772,845.573,4.007,0,749,424,0.547,0.809,847.285,4.481,0
7,140,8,742,431,0.757,0.771,845.573,3.910,0,738,394,0.547,0.809,847.285,4.431,0
8,160,9,728,387,0.757,0.771,845.573,4.003,0,757,415,0.547,0.809,847.285,4.390,0
9,180,10,719,448,0.757,0.772,845.573,3.957,0,777,384,0.547,0.809,847.285,4.506,0

### Graph Expert Gaze Data

In [58]:
path_graph_expert_gzd = os.getcwd() + "/data" + "/Graph Expert"
filenames_graph_expert_gzd = glob.glob(path_graph_expert_gzd + "/*GZD.*")

dfs_graph_expert_gzd = []
for filename in filenames_graph_expert_gzd:
    dfs_graph_expert_gzd.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))

In [59]:
graph_expert_gzd_df = pd.concat(dfs_graph_expert_gzd, ignore_index=True)

In [60]:
graph_expert_gzd_df.rename(columns ={0:'time', 
                     1: 'number', 
                     2: 'screen_x_left_eye', 
                     3: 'screen_y_left_eye', 
                     4: 'cam_x_left_eye',
                     5:'cam_y_left_eye',
                     6:'distance_left_eye',
                     7:'pupil_left_eye',
                     8:'code_left_eye', 
                    9:'screen_x_right_eye', 
                    10:'screen_y_right_eye',
                    11:'cam_x_rigth_eye',
                    12:'cam_y_right_eye',
                    13:'distance_right_eye', 
                    14:'pupil_right_eye', 
                    15:'code_right_eye'},inplace = True)

In [61]:
graph_expert_gzd_df.shape

(1534392, 16)

In [62]:
graph_expert_gzd_df.head(10)

,time,number,screen_x_left_eye,screen_y_left_eye,cam_x_left_eye,cam_y_left_eye,distance_left_eye,pupil_left_eye,code_left_eye,screen_x_right_eye,screen_y_right_eye,cam_x_rigth_eye,cam_y_right_eye,distance_right_eye,pupil_right_eye,code_right_eye
0,7,1,-1280,-1024,0.619,0.591,-1.000,-1.000,4,-1280,-1024,0.382,0.590,-1.000,-1.000,4
1,27,2,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
2,47,3,-1280,-1024,0.620,0.592,-1.000,-1.000,4,-1280,-1024,0.620,0.592,-1.000,-1.000,4
3,67,4,-1280,-1024,0.620,0.591,-1.000,-1.000,4,-1280,-1024,0.620,0.591,-1.000,-1.000,4
4,87,5,-1280,-1024,0.620,0.591,-1.000,-1.000,4,-1280,-1024,0.383,0.590,-1.000,-1.000,4
5,107,6,-1280,-1024,0.619,0.591,-1.000,-1.000,4,-1280,-1024,0.382,0.590,-1.000,-1.000,4
6,127,7,769,439,0.619,0.591,888.382,3.763,0,765,462,0.382,0.590,894.770,3.716,0
7,147,8,754,396,0.620,0.591,888.293,3.828,0,791,447,0.383,0.590,894.729,3.709,0
8,167,9,775,411,0.620,0.591,888.221,3.731,0,763,438,0.383,0.590,894.695,3.743,0
9,187,10,794,411,0.620,0.591,888.157,3.768,0,744,462,0.383,0.590,894.664,3.851,0

### Calculating Sacade Length in Tree General

In [64]:
tree_general_dx = (tree_general_fxd_df['screen_x'] - tree_general_fxd_df['screen_x'].shift())
tree_general_dy = (tree_general_fxd_df['screen_y'] - tree_general_fxd_df['screen_y'].shift())
tree_general_fxd_df['saccade_length'] = np.sqrt(tree_general_dx**2 + tree_general_dy**2)

In [65]:
tree_general_fxd_df.head(10)

   number   time  duration  screen_x  screen_y  saccade_length
0       1   2027       100      1005        60             NaN
1       2   7968       319        78       237      943.746788
2       3   8526       100       246       207      170.657552
3       4   9105       140       298       198       52.773099
4       5   9962       140       909      1002     1009.820281
5       6  10480       159       507       559      598.208158
6       7  11617       140      1012       986      661.327453
7       8  12274       100      1046       997       35.735137
8       9  13052       180       739       584      514.604703
9      10  13650       120        90       592      649.049305

### Calculating Sacade Length in Tree Expert

In [66]:
tree_expert_dx = (tree_expert_fxd_df['screen_x'] - tree_expert_fxd_df['screen_x'].shift())
tree_expert_dy = (tree_expert_fxd_df['screen_y'] - tree_expert_fxd_df['screen_y'].shift())
tree_expert_fxd_df['saccade_length'] = np.sqrt(tree_expert_dx**2 + tree_expert_dy**2)

In [67]:
tree_expert_fxd_df.head(10)

   number  time  duration  screen_x  screen_y  saccade_length
0       1   835       259       711       530             NaN
1       2  1593       100       545       178      389.178622
2       3  1752       199       299       209      247.945559
3       4  1971       140       277       214       22.561028
4       5  2171       319        66       219      211.059233
5       6  2570       179       305       225      239.075302
6       7  3108       140       276       217       30.083218
7       8  3267       199       316       218       40.012498
8       9  3527       120       314       225        7.280110
9      10  3666       219       107       203      208.165799

### Calculating Sacade Length in Graph General

In [73]:
graph_general_dx = (graph_general_fxd_df['screen_x'] - graph_general_fxd_df['screen_x'].shift())
graph_general_dy = (graph_general_fxd_df['screen_y'] - graph_general_fxd_df['screen_y'].shift())
graph_general_fxd_df['saccade_length'] = np.sqrt(graph_general_dx**2 + graph_general_dy**2)

In [74]:
graph_general_fxd_df.head(10)

   number  time  duration  screen_x  screen_y  saccade_length
0       1  1456       160       272       254             NaN
1       2  1735       120       264       240       16.124515
2       3  2732       199       663       205      400.532146
3       4  3330       180       361       662      547.770938
4       5  3529       120       364       657        5.830952
5       6  4028       479       397       736       85.615419
6       7  4765       459       294       648      135.473245
7       8  5244       199       259       660       37.000000
8       9  5623       100       325       667       66.370174
9      10  6021       219       347       652       26.627054

### Calculating Sacade Length in Gaph Expert

In [75]:
graph_expert_dx = (graph_expert_fxd_df['screen_x'] - graph_expert_fxd_df['screen_x'].shift())
graph_expert_dy = (graph_expert_fxd_df['screen_y'] - graph_expert_fxd_df['screen_y'].shift())
graph_expert_fxd_df['saccade_length'] = np.sqrt(graph_expert_dx**2 + graph_expert_dy**2)

In [76]:
graph_expert_fxd_df.head(10)

   number  time  duration  screen_x  screen_y  saccade_length
0       1  1104       100       728       396             NaN
1       2  2360       179       294       807      597.726526
2       3  2858       279       281       777       32.695565
3       4  3157       120       281       785        8.000000
4       5  3297       319       275       792        9.219544
5       6  3775       159       318       769       48.764741
6       7  4772       140       323       214      555.022522
7       8  5211       100        77       208      246.073160
8       9  5450       120        87       213       11.180340
9      10  5909       159       307       216      220.020454

### Average Sacade Length

In [78]:
tree_general_avg_length = tree_general_fxd_df['saccade_length'].mean()

In [79]:
tree_general_avg_length

145.3014755663214

In [80]:
tree_expert_avg_length = tree_expert_fxd_df['saccade_length'].mean()

In [82]:
tree_expert_avg_length

126.34567212240647

In [86]:
graph_general_avg_length = graph_general_fxd_df['saccade_length'].mean()

In [87]:
graph_general_avg_length

140.78614908294836

In [88]:
graph_expert_avg_length = graph_expert_fxd_df['saccade_length'].mean()

In [89]:
graph_expert_avg_length

129.3145308414452

### Additional Participant Data

In [91]:
additional_data_df = pd.read_csv("Additional Participant Data.csv")

In [92]:
additional_data_df.head()

   ID  Ontologies  Visualization  Task_Success  Time_On_Task
0  p1           1              1      0.608696            26
1  p1           2              2      0.521739            38
2  p3           1              1      0.478261            10
3  p3           2              2      0.391304            50
4  p5           1              1      0.521739            22